<h2>Search for a report</h2>


<div class="searchSection">
    <form action="" class="form-inline">
        <div class="form-style">



            <div class="form-group">
                <label for="exampleInputPassword3">Report type:</label>
                <select name="" id="" class="form-control">
                    <option value="">Incident</option>
                    <option value="">Hazard ID</option>
                    <option value="">Inspection</option>
                    <option value="">Safety Meeting</option>
                    <option value="">Training</option>
                </select>
            </div>


            <div class="form-group">
                <label for="exampleInputPassword3"> Report number:</label>
                <input name="" id="" type="text" class="form-control">
            </div>

            
            <div class="form-group">
                <label for="exampleInputPassword3"> Report date:</label>
                <input name="" id="" type="text" class="form-control" my-datepicker>
            </div>
            
             <div class="form-group">
                <label for="exampleInputPassword3"> Incident type :</label>
                <input name="" id="" type="text" class="form-control">
            </div>
            
             <div class="form-group">
                <label for="exampleInputPassword3"> Province/State:</label>
                <input name="" id="" type="text" class="form-control">
            </div>

            

            <button class="btn btn-primary">Search</button>
            
            
            
     

        </div>

        
    </form>
</div>


<div class="clearfix"></div>


        <table class="table table-bordered table-responsive ng-scope">
            <thead>

                <tr>
                    <th>Locked</th>
                    <th>Incident Number</th>
                    <th>Lock/Modified Date</th>
                    <th>Incident type</th>
                    <th>Incident date</th>
                    <th>Community</th>
                    <th>Summary Description</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    
                    <td>92</td>
                    <td>2017-03-26 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-10-21</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>
                <tr>
                  
                    <td>78</td>
                    <td>2017-04-27 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-11-23</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>
                <tr>
                 
                    <td>92</td>
                    <td>2017-03-26 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-10-21</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>
                <tr>
                   
                    <td>78</td>
                    <td>2017-04-27 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-11-23</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>
              <tr>

                    <td>92</td>
                    <td>2017-03-26 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-10-21</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>
                <tr>
                  
                    <td>78</td>
                    <td>2017-04-27 18:52:22</td>
                    <td>Incident</td>
                    <td>Electrical Contact</td>
                    <td>2015-11-23</td>
                    <td>Charlie's Restaurant</td>                    
                    <td>Description</td>
                </tr>




            </tbody>
        </table>

