<div ng-include="'app/modules/tableModule/views/table.html'" ng-controller="TableController"></div>
<!--<h2>View Data Tables</h2>


<div class="searchSection">
    <form action="" class="form-inline">
        <div class="form-style">



            <div class="form-group">
                <label for="exampleInputPassword3">Report Type:</label>
                <select name="" id="" class="form-control">
                    <option value="">Hazard ID</option>
                    <option value="">Incident</option>
                    <option value="">Inspection</option>
                    <option value="">Safety Meeting</option>
                    <option value="">Training</option>
                </select>
            </div>


            <div class="form-group">
                <input  type="radio"  name="check"/>
                <span>Default Tables</span>
                <div class="clearfix"></div>
                <input  type="radio"  name="check"/>
                <span>My Favorite Tables</span>
                <div class="clearfix"></div>
                <input  type="radio" name="check" />
                <span>My Shared Tables</span>
                <div class="clearfix"></div>
            </div>


            <div class="form-group">
                <label for="exampleInputPassword3">Table Name:</label>
                <select name="" id="" class="form-control">
                    <option value="">All Corrective Actions</option>
                    <option value="">All Incidents</option>
                    <option value="">Basic Underlying Causes</option>
                    <option value="">Access Deleted Incidents </option>
                </select>
            </div>

            <button class="btn btn-primary">View</button>

        </div>

        
    </form>
</div>


<div class="clearfix"></div>


        <table class="table table-bordered table-responsive ng-scope">
            <thead>

                <tr>
                    <th>Locked</th>
                    <th>Incident Number (What happened?)</th>
                    <th>Priority (Corrective actions)</th>
                    <th>Status (Corrective actions)</th>
                    <th>Assigned to (Corrective actions)</th>
                    <th>Also notified (Corrective actions)</th>
                    <th>Task description (Corrective actions)</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>74</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>165</td>
                    <td>Medium</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>74</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>165</td>
                    <td>Medium</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>74</td>
                    <td>High</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>165</td>
                    <td>Medium</td>
                    <td>Open</td>
                    <td>John Adams</td>
                    <td>Danial</td>
                    <td>Action 2</td>
                </tr>




            </tbody>
        </table>-->

