
<h2><img src="resources/images/heading-icon.png" alt="">Training Report <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h2>
<div class="customTabs">
<uib-tabset active="activeForm">
        <uib-tab index="0" heading="What happened?">
            <div ng-include="'app/modules/trainingReportModule/views/whatHappend.html'"></div>
            <div ng-include="'app/modules/trainingCustomModule/views/whatTrainingView.html'"></div>
        </uib-tab>

        <uib-tab index="1" heading="People involved">

            <div ng-include="'app/modules/coreReportModule/views/peopleInvolved.html'"></div>
            <div ng-include="'app/modules/trainingCustomModule/views/peopleTrainingView.html'"></div>

        </uib-tab>
        
        <uib-tab index="2" heading="Follow up actions">
            <div ng-include="'app/modules/coreReportModule/views/remedialActions.html'"></div>
            <div ng-include="'app/modules/trainingCustomModule/views/actionTrainingView.html'"></div>
            <!--  
              <div ng-include="'app/modules/newReportSafetyModule/views/hazardDetails.html'"></div>-->

        </uib-tab> 

        <uib-tab index="3" heading="Supporting documents">

            <div ng-include="'app/modules/coreReportModule/views/supportingDocuments.html'"></div>

        </uib-tab>

        <!--<uib-tab index="4" heading="Corrective actions">
            
            
            <div ng-include="'app/modules/newReportSafetyModule/views/remedialActions.html'"></div>
            
        </uib-tab>
        -->
        
        <div class="customCompnent" ng-controller="trainingController">
                <a class="col-md-12 slideButton" ng-click="slideButton()"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <div class="clearfix"></div>
                <div class="" ng-show="hideSlide">
                    <div class="instructions col-md-7">
                        <h2>Instructions</h2>
                        <ul class="list-unstyled">

                                <li>1. Scroll to the custom fields area at the bottom of the page.</li>
                            <li>2. Drag and drop custom fields into the highlighted area.</li>
                            <li>3. Click on the field title to open the text editor.</li>
                            <li>4. Save your changes to close the text editor.</li>
                            <li>5. Reorganize your new fields by dragging and dropping them.</li>
                            <li>6. Save your changes and open the form in the HSE Tracking module to verify.</li>

                        </ul>
                    </div>
                    <div class="col-md-5 customizButton">
                        <h2>Customizable fields</h2>

                       
                         <button class="btn btn-primary pull-right" ng-click='formsubmit()' >Save</button>
                        <button class="btn btn-primary pull-right" ng-click='cancelSubmit()'>Cancel</button>
                        
                        <div class="clearfix"></div>
                        
                        <div fb-components></div>


                        
                      
                    </div>
                </div>

            </div>

    </uib-tabset>

</div>
