<div>
    <div class="toolbar ng-scope">

<!--        <a ng-if="permissions.Dashboard.datatabletoolbarview" ng-click="corrActionSummary('all')" uib-tooltip="View summary"><i class="fa fa-eye"></i></a>-->
        <a ng-if="permissions.Dashboard.datatabletoolbarview" ng-click="viewEmail('all')" uib-tooltip="View email"><i class="fa fa-eye"></i></a>
        <a ng-if="permissions.Dashboard.datatabletoolbarupdateclose" ng-click="closeAction('all')" uib-tooltip="Close"><i class="fa fa-remove red"></i></a>    
        <a ng-if="permissions.Dashboard.exportfromdashboard" ng-click="downloadCSV('allIncompleteActions')" uib-tooltip="Export CSV"><i class="fa fa-file-excel-o"></i></a>
        <!--<a ng-if="permissions.Dashboard.exportfromdashboard" ng-click="downloadPDF('allIncompleteActions')" uib-tooltip="Export PDF"><i class="fa fa-file-pdf-o"></i></a> -->
        <a href="" ng-click="incompletePopUp()" uib-tooltip="Add incompleteActions">
            <i class="fa fa-plus"></i>
        </a>
    </div> 

<!--


    <a href="" ng-click="allIncompletePopUp()" uib-tooltip="Add IncompleteActions">
        <i class="fa fa-eye"></i>
    </a>


    <a href="" uib-tooltip="Edit IncompleteActions">
        <i class="fa fa-edit"></i>
    </a>

    <a href="" uib-tooltip="Delete "><i class="fa fa-remove red"></i></a>    

    <a href="" ng-click="" uib-tooltip="Export CSV"><i class="fa fa-file-excel-o"></i></a>

    <a href="" ng-click="" uib-tooltip="Export PDF"><i class="fa fa-file-pdf-o"></i></a> -->


</div>


<div id="grid1" ui-grid="allincompleteActionsOptions" ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid" ui-grid-pagination="" ui-grid-auto-resize ui-grid-resize-columns  ></div>