<div class="modal-header">
    <h3 class="modal-title">view incomplete actions</h3>
</div>
<div class="modal-body">
   <div class="form-style">
    <div class="form-group col-md-6">
        <label for="">Report type:</label>
        <input type="text" class="form-control" ng-model="" disabled>
    </div>

    <div class="form-group col-md-6 popupDate">
        <label for="">Report date:</label>
        <p class="input-group">
           <input type="text" class="form-control" placeholder="Select" my-datepicker  disabled>
            <span class="input-group-btn calenderIcon">
            <button type="button" class="btn btn-default " ><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
    </div>

    <div class="form-group col-md-6">
        <label for="">Report #:</label>
        <input type="text" class="form-control" ng-model="" disabled>
    </div>

    <div class="form-group col-md-6">
        <label for="">Action assigned to:</label>
        <ui-select ng-model="Actionassigned " theme="bootstrap" ng-change="" ng-required="">
            <!-- allow-clear="true" -->
            <ui-select-match placeholder="Also notified" disabled>{{$select.selected.selectedValue}}</ui-select-match>
            <ui-select-choices refresh="" refresh-delay="0" repeat=" ">
                <div>{{employee.full_name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>



    <div class="form-group col-md-6">
        <label for="">Supervisor notified:</label>
        <input type="checkbox" disabled >
    </div>


    <div class="form-group col-md-6">
        <label for="">Also notified:</label>
        <ui-select ng-model="Alsonotified" theme="bootstrap" ng-change="" ng-required="" disabled>
            <!-- allow-clear="true" -->
            <ui-select-match placeholder="Also notified">{{$select.selected.selectedValue}}</ui-select-match>
            <ui-select-choices refresh="" refresh-delay="0" repeat=" ">
                <div>{{employee.full_name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group col-md-6">
        <label for="">Priority:</label>
        <span>
      <input  type="radio" disabled> <span>High</span>
        </span>

        <span>
      <input  type="radio" disabled> <span> medium</span>
        </span>

        <span>
      <input  type="radio" disabled> <span>low</span>
        </span>
    </div>

    <div class="form-group col-md-6">
        <label for="">Status:</label>
         <span>
      <input  type="radio" disabled> <span>Open</span>
        </span>

        <span>
      <input  type="radio" disabled> <span> Delayed</span>
        </span>

        <span>
      <input  type="radio" disabled> <span>Closed</span>
        </span>
        
    </div>
    <div class="form-group col-md-6 popupDate">
        <label for="">Target start date:</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Select" my-datepicker ng-model="action.start_date" disabled>
            <span class="input-group-btn calenderIcon">
            <button type="button" class="btn btn-default " ><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
    </div>


    <div class="form-group col-md-6 popupDate">
        <label for="">Target end date:</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Select" my-datepicker ng-model="action.start_date" disabled>
            <span class="input-group-btn calenderIcon">
            <button type="button" class="btn btn-default " ><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
    </div>
    <div class="form-group col-md-6 popupDate">
        <label for="">Actual end date:</label>
                
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Select"  my-datepicker ng-model="action.start_date" disabled>
            <span class="input-group-btn calenderIcon">
            <button type="button" class="btn btn-default " ><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>

        
    </div>

    <div class="form-group col-md-6">
        <label for="">Estimated costs:</label>        
         <input type="number" class="form-control" disabled>
    </div>
    <div class="form-group col-md-6">
       <label for="">Actual costs:</label>
         <input type="number" class="form-control" disabled>
    </div>



    <div class="clearfix"></div>

    <div class="form-group autoHeight col-md-6">
        <label for="">Task Description:</label>
        <textarea type="text" class="form-control" disabled> </textarea>
    </div>

    <div class="form-group autoHeight col-md-6">
        <label for="">Task outcome and follow-up:</label>
        <textarea type="text" class="form-control" disabled> </textarea>
    </div>

    <div class="form-group  form-group completedWidth  NewMtop col-md-12">
        <label for="">Did completed task achieve desired results:</label>
        <span>
      <input  type="radio" disabled> <span>Yes</span>
        </span>

        <span>
      <input  type="radio" disabled> <span> No</span>
        </span>

        
    </div>

    <div class="form-group autoHeight col-md-6">
        <label for="">Comments:</label>
        <textarea type="text" class="form-control" disabled> </textarea>
    </div>

</div>
    <div class="clearfix"></div>


    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Submit</button>

    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Cancel</button>


    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">update</button>


    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Upload attachments</button>

    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Print </button>

    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Open related report</button>
</div>