<h2>{{notified_labels['NotificationAssignmentsHeader']['default_field_label']}}</h2>

<form action="" class="form-inline formMargin notificationFrom" name="notificationForm" novalidate>
<!-- <form action="" class="form-inline formMargin notificationFrom"> -->
    <div class="form-group" >
        <label for="notificationType">Select Notification Type:</label>
        <select id="notificationType" class="form-control" ng-model="assignedNotification.choosedNotificationType"
                ng-options="notificationType.id as notificationType.name for notificationType in notificationModulesTypes"
                ng-change="getFilterFields()">
        </select>
    </div>
            
            
     <div class="form-group" >
        <label for="notificationTo">Send this notification to:</label>
        <!--<select id="notificationTo" class="form-control" ng-model="assignedNotification.choosedNotificationTo"
                ng-options="notificationTo.code as notificationTo.name for notificationTo in notificationToTypes">
        </select>-->
        <input type="radio" name="Notification" ng-model="assignedNotification.choosedNotifiedCategory" value="group"> <span> Group notified</span>
        <input type="radio" name="Notification" ng-model="assignedNotification.choosedNotifiedCategory" value="user"> <span> Person notified</span>
    </div>
            
    <!--<div class="form-group chooseNotification" ng-if="assignedNotification.choosedNotificationTo === 'oneormoreusergroups' || assignedNotification.choosedNotificationTo === 'acompinationofusergroupsandindividuals'">
        <label for="">Choose User Groups:</label>
        <div ng-dropdown-multiselect options="notifiedGroups" selected-model="assignedNotification.notifiedSelectedGroups"
        extra-settings="multiselectsettings"></div>
         <ui-select class="form-control" ng-model="notifiedTypeValue" theme="bootstrap" on-select="onSelectNotifiedValue($item)"
                ng-class="{'required':notifiedTypeValue == null}" required>
            <ui-select-match placeholder="Enter Name">{{$select.selected.group_name}}</ui-select-match>
            <ui-select-choices refresh="getNotifiedGroups($select.search)" refresh-delay="0" 
                            repeat="group.group_id as group in notifiedGroups | filter: $select.search ">
                <div>{{group.group_name}}</div>
            </ui-select-choices>
        </ui-select> -->
        <!--
    </div>-->
    <!-- <div class="form-group choosedNotificationTo" ng-if="assignedNotification.choosedNotifiedCategory === 'group'">
        <label>Group name:</label>
        <div id="ParentCustomer">
            <ui-select class="form-control" ng-model="assignedNotification.notifiedSelectedGroup" theme="bootstrap" on-select="onSelectNotifiedValue($item)"
                    ng-class="{'required':assignedNotification.notifiedSelectedGroup == null}" required>
                <ui-select-match placeholder="Enter Name">{{$select.selected.group_name}}</ui-select-match>
                <ui-select-choices refresh="getNotifiedGroups($select.search)" refresh-delay="0" 
                                repeat="group.group_id as group in notifiedGroups | filter: $select.search ">
                    <div>{{group.group_name}}</div>
                </ui-select-choices>
            </ui-select>
        </div> -->
    <div class="form-group choosedNotificationTo" ng-if="assignedNotification.choosedNotifiedCategory === 'group'">
        <label for="">Group name:</label>
        <ui-select class="form-control" ng-model="assignedNotification.notifiedSelectedGroup" theme="bootstrap" on-select="onSelectNotifiedValue($item)"
            ng-class="{'required':assignedNotification.notifiedSelectedGroup == null}" required>
            <ui-select-match placeholder="Enter Name">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getNotifiedGroups($select.search)" refresh-delay="0" 
                            repeat="group.id as group in notifiedGroups | filter: $select.search ">
                <div>{{group.name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>
    
    <div class="form-group choosedNotificationTo" ng-if="assignedNotification.choosedNotifiedCategory === 'user'">
        <label>Employee name:</label>
        <!-- <div id="ParentCustomer" ng-repeat="notifiedSelectedIndividual in assignedNotification.individulals track by $index" ng-init="individualIndex = $index"> -->
        <div id="ParentCustomer">
            <ui-select class="form-control" ng-model="assignedNotification.notifiedSelectedUser" theme="bootstrap" on-select="onSelectNotifiedValue($item)"
                    ng-class="{'required':assignedNotification.notifiedSelectedUser == null}" required>
                <ui-select-match placeholder="Enter Name">{{$select.selected.full_name}}</ui-select-match>
                <ui-select-choices refresh="getNotifiedEmployees($select.search)" refresh-delay="0" 
                                repeat="emp.employee_id as emp in notifiedEmployees | filter: $select.search ">
                    <div>{{emp.full_name}}</div>
                </ui-select-choices>
            </ui-select>
        <!-- <button class="btn btn-danger" ng-click="removeIndividual(individualIndex, notifiedSelectedIndividual)" ng-hide="individualIndex == 0">Remove</button> -->
        </div>
        
    </div>
</form>

 <div class="clearfix"></div>
    <h2>select filters here from a maximum of three categories :</h2>
    <div class="insideAccordion form-style">
    <uib-accordion close-others="oneAtATime">
    
    <div  uib-accordion-group class="panel-default" heading="Click to see category and filters" is-open="status.addNewNotification" >
       
        <div class="accStyle" ng-repeat="filter in assignedNotification.notifiedFilterFields track by $index" ng-init="filterIndex = $index">
            <uib-accordion close-others="oneAtATime" ng-click="closeOtherAccordions(filter.field_name)">
                <div  uib-accordion-group class="panel-default" heading="{{filter.field_label}}" is-open="status.filterStatus[filter.field_name]" >
                   <div ng-scrollbars ng-scrollbars-config="config">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <span>
                                    <input type="checkbox" ng-model="filter.choosed"
                                ng-change="getFilterValues(filter, null)"><span>{{filter.field_label}}</span></span>
                                <!-- <span ng-if="filter.field_name==='impact_sub_type_id'"><input type="checkbox" 
                                    ng-model="filter.choosed"><span>{{filter.field_label}}</span></span> -->
                                <div class="clearfix"></div>
                                <!-- <span class="red">(See Email Notification Templates 1 & 2)</span> -->
                            </td>
                            <td ng-if="filter.choosed && filter.field_name !== 'location1_id' && 
                            filter.field_name !== 'location2_id' && filter.field_name !== 'location3_id' && 
                            filter.field_name !== 'location4_id' && filter.field_name !== 'risk_level' && 
                            filter.field_name !== 'CorrectiveActionsHeader' && filter.field_name !== 'impact_type_id'">
                                <div ng-repeat="value in filter.filterValues track by $index">
                                    <input type="checkbox" ng-model="value.choosed"
                                    ng-change="populateSummary()"><span>{{value.name}}
                                </div>
                            </td>
                            <td ng-if="filter.choosed && (filter.field_name === 'location1_id' || 
                            filter.field_name === 'location2_id' || filter.field_name === 'location3_id' || 
                            filter.field_name === 'location4_id')">
                                <div ng-repeat="value in filter.filterValues track by $index">
                                <input type="checkbox" ng-model="value.choosed"
                                ng-change="populateSummary()"><span>{{value.name}} {{value.parent_name}}</div>
                            </td>
                            <td ng-if="filter.choosed && filter.field_name === 'risk_level'">
                                <div ng-repeat="value in filter.filterValues track by value.id">
                                <input type="checkbox" ng-model="value.choosed"
                                ng-change="populateSummary()"><span>{{value.risk_level_degree}} ({{value.risk_level_name}})</div>
                            </td>
                            <td ng-if="filter.choosed && filter.field_name === 'impact_type_id'">
                                <div ng-repeat="value in filter.filterValues track by value.id">
                                <input type="checkbox" ng-model="value.choosed"
                                ng-change="getSubImpactValues(filter,value)"><span>{{value.name}}</div>
                            </td>
                            <td ng-if="filter.choosed">
                                <div ng-repeat="value in filter.filterValues track by $index">
                                <span ng-repeat="type in emailTypes track by type.email_type_id"
                                ng-init="value.email_type = emailTypes[0].email_type_id">
                                    <input type="radio" ng-model="value.email_type" value="{{type.email_type_id}}">
                                    <span>{{type.email_type_name}}</span>
                                </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
            </uib-accordion>
        </div>
    
    <h2>{{notified_labels['EscalatedNotificationParameteHeader']['default_field_label']}}</h2>
    
    <div class="accStyle" ng-init="filterIndex = $index">
        <uib-accordion close-others="oneAtATime">
            <!-- <div  uib-accordion-group class="panel-default" heading="{{filter.field_label}}" is-open="status.ExpiredCorrectiveActions" >
                <div ng-scrollbars ng-scrollbars-config="config">
                <table class="table table-bordered">
                    <tr>
                        <td><input type="checkbox"><span>{{filter.field_label}}</span>
                            <div class="clearfix"></div></td>
                        <td><label for="">Number of days after expiry: </label><input type="text" class="form-control"></td>
                        <td><label for="">Frequency of email reminder (days): </label> <input type="text" class="form-control"> </td>
                    </tr>
                </table>
                </div>
                </div> -->
            <div  uib-accordion-group class="panel-default" heading="{{assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['field_label']}}" is-open="status.ExpiredCorrectiveActions" >
                <div ng-scrollbars ng-scrollbars-config="config">
                    <table class="table table-bordered">
                        <tr>
                            <td><input type="checkbox"  ng-model="assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['choosed']">
                                <span>{{assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['field_label']}}</span>
                        <div class="clearfix"></div>
                        <!-- <span class="red">(See Email Notification Templates 23)</span></td> -->
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['DaysStart']['field_label']}}: </label>
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['start']"></td>
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['DaysFreq']['field_label']}}: </label> 
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['expired_corrective_actions_header']['freq']"> </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div  uib-accordion-group class="panel-default" heading="{{assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['field_label']}}" is-open="status.InvestigationsnotyetClosed" 
            ng-if="assignedNotification.choosedNotificationTypeCode === 'ABCanTrack'">
                <div ng-scrollbars ng-scrollbars-config="config">
                    <table class="table table-bordered">
                        <tr>
                            <td><input type="checkbox" ng-model="assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['choosed']"><span>{{assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['field_label']}}</span>
                        <div class="clearfix"></div>
                        <!-- <span class="red">(See Email Notification Templates 23)</span></td> -->
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['DaysStartInc']['field_label']}}: </label>
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['start']"></td>
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['DaysFreqInc']['field_label']}}:  </label> 
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['InvestigationClosedHeader']['freq']"> </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div  uib-accordion-group class="panel-default" heading="{{assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['field_label']}}" is-open="status.OverdueTraining" 
            ng-if="assignedNotification.choosedNotificationTypeCode === 'Training'">
                <div ng-scrollbars ng-scrollbars-config="config">
                    <table class="table table-bordered">
                        <tr>
                            <td><input type="checkbox" ng-model="assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['choosed']"><span>{{assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['field_label']}}</span>
                        <div class="clearfix"></div>
                        <!-- <span class="red">(See Email Notification Templates 23)</span></td> -->
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['TrainingDaysStart']['field_label']}}: </label>
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['start']"></td>
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['TrainingDaysFreq']['field_label']}}:  </label> 
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['OverdueTraining']['freq']"> </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div  uib-accordion-group class="panel-default" heading="{{assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['field_label']}}" is-open="status.ExpiryDateNotification" 
            ng-if="assignedNotification.choosedNotificationTypeCode === 'Training'">
                <div ng-scrollbars ng-scrollbars-config="config">
                    <table class="table table-bordered">
                        <tr>
                            <td><input type="checkbox" ng-model="assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['choosed']"><span>{{assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['field_label']}}</span>
                        <div class="clearfix"></div>
                        <!-- <span class="red">(See Email Notification Templates 23)</span></td> -->
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['ExpiryDaysStart']['field_label']}}: </label>
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['start']"></td>
                            <td ng-if="assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['choosed']"><label>{{assignedNotification.notifiedFilterEscalatedFields['ExpiryDaysFreq']['field_label']}}:  </label> 
                                <input type="text" class="form-control" ng-model="assignedNotification.notifiedFilterEscalatedFields['ExpiryDateNotification']['freq']"> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
</uib-accordion>
</div>
    <!-- </div> -->

</div>
   <div class="clearfix"></div>
    <form action="">
        <div class="form-style">
            <label for="">Summary Of selected filter</label>
            <textarea class="form-control" ng-model="notificationSummary">
                
            </textarea>
            
        </div>
        
        
    </form>
     
     
     <div class="tabStyle">
       <uib-tabset active="activeForm">
            <uib-tab index="0" heading="New Report">
                <div ng-include="'app/modules/adminToolsModule/views/newRportNotification.html'"></div>
            </uib-tab>
             <uib-tab index="1" heading="Update Report">
                <div ng-include="'app/modules/adminToolsModule/views/updateReportNotification.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
    </div>
    
    <button class="btn btn-primary" ui-sref="manageNotification">Cancel</button>
    <button class="btn btn-primary" ng-click="saveNotification()" ng-disabled="disableFilters || disableFiltersValues || disableEscalatedFiltersValues || notificationForm.$invalid">Submit</button>
