<div class="modal-header">
    <h3 class="modal-title"  ng-bind-html="msgTitle"  ></h3>
    <a href="" class="btn btn-primary pull-right" ng-click="cancel()" style="margin-left: 20px">
        <span><i class="fa fa-close"></i></span>
    </a>
</div>
<div class="modal-body">    
    <html><body>
    <div ng-bind-html="msgBody">  </div>
</body></html>
    <!-- <a href="" class="btn btn-primary pull-right" ng-click="cancel()" style="margin-left: 20px">
        <span>Close</span>
    </a>
    <a href="" class="btn btn-primary pull-right" ng-click="ok()" style="margin-left: 20px">
        <span>Ok</span>
    </a> -->
</div>