
<div class="row customizationComponentsFields">

                    

                    <div class="col-md-12">
                       <h2>Custom Fields</h2>
                 <hr/>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Builder</h3>
                            </div>
                            <div fb-builder="default"></div>
                            <div class="panel-footer">
                            <button ng-click='formsubmit()'>formsubmit </button>
                            </div>
                        </div>
                    </div>

                    <div class="customCompnent">
                    <div class="col-md-12 slideButton"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
                    <div class="clearfix"></div>
                    <div class="instructions col-md-7">
                        <h2>Instructions</h2>
                        <ul class="list-unstyled">
                            
<li>1. Drag and drop custom fields into the highlighted area.</li>
<li>2. Select any "change me" text to edit it.</li>
<li>3. Use the Add buttons to add to list items.</li>
<li>4. Add titles and text for help pop-ups on the right. Leave them as is if you don't want to add pop-ups.</li>
<li>5. Change the order of the fields by changing the order numbering.</li>
<li>6. Delete fields by clicking on thebeside the field.</li>
<li>7. Save and preview your changes.</li>
<li>8. To change the heading "Custom Fields", go to Manage Form Fields, search for that field heading in the table, open and edit it. Just make sure you pick the one for the tab you are customizing</li>
                            
                        </ul>
                    </div>
                    <div class="col-md-5 customizButton">
                        <h2>Customizable fields</h2>
                       
                        <div fb-components></div>
                         <div class="clearfix"></div>
                        <button class="btn btn-primary pull-right">save</button>
                         <button class="btn btn-primary pull-right">cancel</button>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row" ng-controller="detailsHazardController">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Builder 2</h3>
                            </div>
                            <div fb-builder="default2"></div>
                            <div class="panel-footer">
                                <button ng-click='formsubmit2()'>formsubmit </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
        -->