<h2>Analytics <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h2>

<p class="startPoint">Choose what you'd like to do from the left Navigation bar or double click any chart below to edit it. </p>

<div class="alert alert-info startPoint">
   <p>Coming Soon... tips on how to get the most from your analytics. </p> 
</div>


<h3>My recent charts and kPIs</h3>
<div class="col-md-12 charts ChartStyle">
    <div class="underConstructions">
    
        <p>UNDER CONSTRUCTION!</p>   
    </div> 
   <div class="col-md-4">
        <h2>Annual Hazard Ids vs. Incidents </h2>
        <canvas id="bar" class="chart chart-bar"
                chart-data="lineData" chart-labels="lineLabels"> chart-series="series"
        </canvas>
    </div>
    <div class="col-md-4">
        <h2>2017 Incidents by risk level</h2>
        <canvas id="pie" class="chart chart-pie"
                chart-data="data" chart-labels="labels" chart-options="options">
        </canvas> 
    </div>
    <div class="col-md-4">
        <h2>2017 Days lost from LTI and RWI </h2>
        <canvas id="line" class="chart chart-line" chart-data="thirdData"
                chart-labels="thirdLabels" chart-series="thirdSeries" chart-options="thirdOptions"
                chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    </div>
    
</div>