<div class="modal-header mBottom">
    <h3 class="modal-title">Manage stats and charts for: {{selectedChart.product_name}}</h3>
</div>
<div class="col-md-4 ChartfullWidth">
    <div cg-busy="{promise:promise,backdrop:true}">
        <form  name="addChart" class="form-inline manageCustomer formStylePadding">
            <div class="form-style chartValidation">
                <div class="form-group">
                    <label for="exampleInputPassword3">1. Give your report a name.<b style="color: red">*</b></label>
                    <input ng-disabled="disabled" type="text" class="form-control" required    ng-model="selectedChart.stat_favorite_name">
                    <span style="color: red"    class="validationMsg">{{stat_table_name_valid}}</span>
                </div> 

                <div class="form-group" >
                    <label>2. Report type:</label>
                    <select class="form-control" ng-disabled="disabled || !default_or_added" 
                            ng-options="a.product_id as a.product_name for a in products"
                            ng-model="selectedChart.product_id"> 
                        <option value="" selected>Please select one.</option>
                    </select>
                </div>

                <div class="form-group selectPeriod">
                    <label >3. Select period:</label>
                    <ui-select  ng-disabled="disabled" ng-model="selectedChart.period_items_id" >
                        <ui-select-match placeholder="select period">
                            <span>{{$select.selected.period_items_name|| selectedChart.period_items_name }}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="period in periodDates track by period.period_items_id">
                            <span>{{period.period_items_name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group dateRange">
                    <label>4. select date range:</label>
                    <input id="incident_date"
                           placeholder="time frame" 
                           type="text"
                           ng-model="selectedChart.time_frame" ng-disabled="disabled"
                           class="form-control">
                    <a href="" class="pull-left" ng-click="selectedChart.time_frame = ''"><i class="fa fa-close"></i></a>
                </div>

                <div class="form-group">
                    <label> 5. Select scope:</label>     
                    <select class="form-control"  ng-disabled="disabled"
                            ng-options="m.metrics_scope_id as m.metrics_scope_name for m in metricsScope"
                            ng-model="selectedChart.scope_id">               
                        <option  value="" selected>Please select one.</option>
                    </select>
                </div>


                <div class="form-group dataFieldsIncluded" ng-if="default_or_added">

                    <label>6. Select data fields to be included.<b style="color: red">*</b></label>
                    <select class="form-control"  required  ng-options="a.field_name as a.field_label for a in field1array"
                            ng-model="selectedChart.field_name" ng-disabled="disabled">    
                        <option value="" selected>Please select one</option>
                    </select>
                    <div class="pull-left">
                        <div class="form-group">
                            <input ng-disabled="disabled" type="radio" name="field1" value="left" ng-model="selectedChart.field1" class="form-control"> Left axis
                        </div>
                        <div class="form-group">
                            <input ng-disabled="disabled" type="radio" name="field1" value="bottom" ng-model="selectedChart.field1" class="form-control"> Bottom axis
                        </div>
                    </div>
                    <select class="form-control"   ng-disabled="disabled" ng-options="a.field_name as a.field_label for a in field2array"
                            ng-model="selectedChart.field_name3">              
                        <option value="" selected>Please select one</option>
                    </select>
                    <div class="pull-left">
                        <div class="form-group">
                            <input ng-disabled="disabled" type="radio" name="field2" value="left" ng-model="selectedChart.field2" class="form-control"> Left axis
                        </div>
                        <div class="form-group">
                            <input ng-disabled="disabled" type="radio" name="field2" value="bottom" ng-model="selectedChart.field2" class="form-control"> Bottom axis
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="form-group buttonMTop dataFieldsIncluded" ng-if="default_or_added">

                    <label>7. Choose the formula.<b style="color: red">*</b></label>

                    <div class="clearfix"></div>
                    <div class="form-group" ng-repeat="formula in formulalist" >
                        <input ng-disabled="disabled" type="radio" class="form-control" name="formulas" ng-change="checkDecimalFields(formula.operation_code);" ng-checked="formula.operation_id == selectedChart.operation_id" value="{{formula.operation_id}}"  ng-model="selectedChart.operation_id"> 
                        {{formula.operation_name}} 
                    </div>
                    <div class="pull-right">
                        <select class="form-control"  ng-if="!hideCount" required="!hideCount"
                                ng-options="a.field_name as a.field_label for a in decimalarray"
                                ng-model="selectedChart.field_name2" ng-disabled="disabled">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-if="default_or_added">8. Trend line</label> <!-- add or edit user charts-->
                    <label ng-if="!default_or_added">6. Trend line</label> <!-- edit favourit charts-->

                    <div class="form-group"> <input ng-disabled="disabled" type="radio" class="form-control" name="trendline" value="1"  ng-model="selectedChart.trend_line"> Yes </div>
                    <div class="form-group"> <input ng-disabled="disabled" type="radio" class="form-control" name="trendline"  value="0"  ng-model="selectedChart.trend_line"> No </div>

                </div>
                <div class="clearfix"></div>
                <div class="form-group RemoveBtnStyle">
                    <label ng-if="default_or_added">9. Choose the output.<b style="color: red">*</b></label>  <!-- will appear in add or edit added charts by user-->
                    <label ng-if="!default_or_added">7. Choose the output.<b style="color: red">*</b></label> <!-- will appear in  edit default charts -->
                    <div class="clearfix"></div>

                    <button  ng-disabled="disabled" class="btn btn-primary" ng-show="selectedChart.output_code == 'table' || selectedChart.output_code == ''" ng-click="generateChart('table', default_or_added);"  data-ng-disabled="addChart.$invalid"><img src="resources/images/Table.jpg" > </button>
                    <button  ng-disabled="disabled" class="btn btn-primary" ng-hide="selectedChart.output_code == 'table'"    ng-click="generateChart('column', default_or_added);" data-ng-disabled="addChart.$invalid" ><img src="resources/images/Column.jpg"> </button>
                    <button  ng-disabled="disabled" class="btn btn-primary"  ng-hide="selectedChart.output_code == 'table'"    ng-click="generateChart('line', default_or_added);"   data-ng-disabled="addChart.$invalid" ><img src="resources/images/Line.jpg"    > </button>
                    <button  ng-disabled="disabled" class="btn btn-primary"  ng-hide="selectedChart.output_code == 'table'"    ng-click="generateChart('bar', default_or_added);"    data-ng-disabled="addChart.$invalid" ><img src="resources/images/bar.jpg"    > </button>
                    <button  ng-disabled="disabled" class="btn btn-primary"  ng-hide="selectedChart.output_code == 'table'"    ng-click="generateChart('pie', default_or_added);"    data-ng-disabled="addChart.$invalid" ><img src="resources/images/Pie.jpg" ></button>
                </div>

                <!--   <div class="col-md-12 shareStyle">
                       <div class=" shareIT">
                <!--                        <h2> share with :</h2>
                                        <div class="contentCheckboxs">
                                           <div class="form-group " ng-repeat="s in share_options">
                                                <input ng-model="selectedChart.shared_to_id[s.shared_to_id]" name="share_options" ng-checked="{{s.matched_choice}}" type="checkbox" value="{{s.shared_to_id}}"> <span>{{s.shared_to_name}}</span>
                                                <input  type="text" class="form-control">
                                                <ui-select ng-if="s.field_code === 'anotherusersdashboards'" class="form-control showMatched"  ng-model="selectedChart.specific_user_id_dashboard" theme="bootstrap" >
                                                    <ui-select-match placeholder="Enter User Name">{{$select.selected.full_name|| selectedChart.user_dashboard}}</ui-select-match>
                                                    <ui-select-choices refresh="getActiveEmployees($select.search)" refresh-delay="0" 
                                                                       repeat="emp.employee_id as emp in activeEmployees | filter: $select.search ">
                                                        <div>{{emp.full_name}}</div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>-->
                <!--
                                    </div>
                                </div>-->

                <div class="col-md-12  shareStyle">
                    <div class=" shareIT">
                        <h2>10. Share with :</h2>
                        <div class="contentCheckboxs">
                            <div class="form-group " ng-repeat="s in share_options">
                                <input ng-disabled="disabled" ng-model="selectedChart.shared_to_id[s.shared_to_id]" name="share_options" ng-checked="{{s.matched_choice}}" type="checkbox" value="{{s.shared_to_id}}"> <span>{{s.shared_to_name}}</span>
                                <!--<input  type="text" class="form-control">-->
                                <div class="clearfix"></div>
                                <ui-select ng-if="s.field_code === 'anotherusersdashboards'" class="form-control showMatched"  ng-model="selectedChart.specific_user_id_dashboard" theme="bootstrap" >
                                    <ui-select-match placeholder="Enter User Name">{{$select.selected.full_name|| selectedChart.user_dashboard}}</ui-select-match>
                                    <ui-select-choices refresh="getActiveEmployees($select.search)" refresh-delay="0" 
                                                       repeat="emp.employee_id as emp in activeEmployees | filter: $select.search ">
                                        <div>{{emp.full_name}}</div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div  class="form-group">
                        <label>If you make changes to your chart, click again on the output type to refresh it.</label>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-12" style=" margin-top: 10px; width: 100%">
                        <button class="btn btn-primary mTop pull-right" ng-click="updateFun()" ng-show="disabled" >  
                            <span>Update</span>
                        </button>
                        <button class="btn btn-primary mTop pull-right" ng-click="addOrgChart(true)" ng-show="!disabled"  data-ng-disabled="addChart.$invalid">  

                            <span>Save & close</span>
                        </button>
                        <button class="btn btn-primary mTop pull-right"  ng-click="addOrgChart(false)" ng-show="!disabled"   data-ng-disabled="addChart.$invalid">  
                            <span>Save </span>
                        </button>
                        <button class="btn btn-primary mTop pull-right" ng-click="refreshChart()" >  
                            <span>Refresh</span>
                        </button>
                        <button class="btn btn-primary mTop pull-right" data-ui-sref="chartgrid"> 
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>      


            </div>
    </div>
    <div class="col-md-8">

        <div id="div_OutPut" >
            <div id="downloadType" ng-show="selectedChart.output_code == 'table'"  class="fontbold">
                <br>
                <label  id="lbl_chartsInst8">
                    8. Choose your print option.
                </label>
                <div class="dropdownMenu">
                    <img src="resources/images/export.jpg" id="exportImg" title="" ng-click="showhideDropDown()"  ng-show="selectedChart.output_code == 'table'" >
                    <ul id="dropdown"  class="pull-left"  ng-show="ischecked">
                        <li><a href="" ng-click ="exportTableToCSV('png');" id="downloadPNG" > Download PNG image</a></li>
                        <li><a href="" ng-click ="exportTableToCSV('jpg');" id="downloadPNG"> Download JPG image</a></li>
                        <li><a href="" ng-click ="exportTableToPDF();" id="downloadPDF">Download PDF Document</a></li>
                        <li><a href="" ng-Click ="exportTableToCSV('csv');" id="downloadCSV">Download CSV</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="toolbar">
        <a href="" uib-tooltip="Export Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i>

            <a href="" uib-tooltip="Export pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </a>
            <a href="" uib-tooltip="Export image"><i class="fa fa-file-image-o" aria-hidden="true"></i>
            </a>
            <a href="" uib-tooltip="Export picture"><i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
            <a href="" uib-tooltip="Export code"><i class="fa fa-file-code-o" aria-hidden="true"></i>
            </a>

        </a>

    </div>


    <span id="tableTitle" ng-show="selectedChart.output_code == 'table'"   style="padding:0; margin:0 0 0 10px;  width: 100%; font-weight: bold; text-align: center;  float: left"></span>
    <br>
    <div id="gridDiv" class="tableStyle  tableScroller" style="padding:0; margin:0 0 0 10px"   ng-show="selectedChart.output_code == 'table'"  >    </div>

    <div id="chartDiv"  ng-show="selectedChart.output_code !== 'table'"   style="float: left; width: 95%; margin: 10px 1%">               
        <div id="myChart" style="min-width: 310px; height: 400px;"></div>
    </div>

    <label for="">Description</label>
    <textarea  class="form-control"></textarea>


</div>
<!--
                <span id="tableTitle" ng-show="selectedChart.output_code == 'table'"   style="padding:0; margin:0 0 0 10px;  width: 100%; font-weight: bold; text-align: center;  float: left"></span>
                <br>
                <div id="gridDiv" class="tableStyle  tableScroller" style="padding:0; margin:0 0 0 10px"   ng-show="selectedChart.output_code == 'table'"  >    </div>

                <div id="chartDiv " Class="chartFixed" ng-show="selectedChart.output_code !== 'table'"   style="float: left; width: 95%; margin: 10px 1%">               
                    <div id="myChart" style="min-width: 310px; height: 400px;"></div>
                </div>-->


</div>
</form>
</div>