<div class="modal-header">
    <h3 class="modal-title">Edit field</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form name="editFieldForm">
            
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary pull-right" type="button" ng-click="saveField()"
                        ng-disabled="editFieldForm.$invalid">Submit</button>
            </div>
            <div class="form-group col-md-6">
                <label>Field label</label>
                <input type="text" class="form-control" ng-readonly="field.field_name=='rep_name'||field.field_name=='rep_email'||field.field_name=='rep_primary_phone'||field.field_name=='third_parties_involved'||field.field_name=='contractor_id'||field.field_name=='contractor_jop_number'||field.field_name=='contractor_contact_name'||field.field_name=='customer_id'||field.field_name=='customer_job_number'||field.field_name=='customer_contact_name'||field.field_name=='equipment_name'||field.field_name=='equipment_type'||field.field_name=='equipment_category_name'||field.field_name=='equipment_number'||field.field_name=='corrective_action_priority_id'||field.field_name=='related_hazard_id'||field.field_name=='corrective_action_status_id'||field.field_name=='investigation_date'||field.field_name=='sign_off_date'" ng-model="field.field_label" required>
            </div>
            <div class="form-group col-md-6">
                <label>Field type</label>
                <input type="text" class="form-control" readonly ng-model="field.field_type_name">
            </div>
            <div class="clearfix"></div>


            <div class="form-group col-md-6">
                <label>Help title</label>
                <input type="text" class="form-control" ng-model="field.help_me_name">
            </div>



            <div class="form-group col-md-6">
                <label>Field description</label>
                <input type="text" class="form-control" readonly ng-model="field.field_description">
            </div>

            <div class="clearfix"></div>
            <div >
                <div class="form-group col-md-12 noHeight">
                    <label>Help:</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="field.help_me_description" class="form-control"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class=" radioStyle" ng-hide="field.field_name == 'risk_level_type_id'||field.field_name == 'risk_level_sup_type_id'||field.field_name == 'corrective_action_priority_id'||field.field_name == 'corrective_action_status_id'">
                <div class="form-group col-md-6" ng-hide="field.field_name == 'identified_by'||field.field_name=='third_parties_involved'|| field.field_name == 'equipment_id'">
                    <label>Mandatory</label>
                    <span> <input type="radio" ng-model="field.is_mandatory" value="Yes"> <span>Yes</span></span>
                    <span><input type="radio" ng-model="field.is_mandatory"  value="No">  <span>No</span></span>
                </div>
                <div class="form-group col-md-6" ng-hide="field.field_name=='sign_off_investigator_id'|| field.field_name=='sign_off_date'">
                    <label>Hidden</label>
                    <span><input type="radio" ng-model="field.is_hidden" value="Yes" ng-disabled="field.is_mandatory === 'Yes'"> <span>Yes</span></span>
                    <span><input type="radio" ng-model="field.is_hidden" value="No" ng-disabled="field.is_mandatory === 'Yes'"> <span>No</span></span>
                </div>
            </div>
            <div ng-if="manageValues" class="block">To add or edit {{valueName}}, go to <a href="{{valueModuleLink}}" ng-click="cancel()">{{valueModule}}</a> under my admin tools.</div>
            <div class="clearfix"></div>
            
        </form>
        <div ng-if="hasValues">
            <div class="col-md-12 grid-style">
                <div class="toolbar">
                    <a href="" ng-click="addFieldValue(1)" ng-hide="field.field_name=='risk_level_sup_type_id'||field.field_name=='risk_level_type_id'||field.field_name=='report_owner'" uib-tooltip="Add value"><i class="fa fa-plus"></i></a>
                    <a href="" ng-hide="field.field_name=='corrective_action_status_id'||field.field_name=='corrective_action_priority_id'||field.field_name=='inv_status_id'||(field.reportType=='hazard'&&field.field_name=='potential_impact_of_hazard')" ng-click="editFieldValue(1)" uib-tooltip="Edit value"><i class="fa fa-edit"></i></a>
                    <a href="" ng-click="saveFieldValue()" uib-tooltip="Save value" ng-class="{'disabled': disableSaveBtn}"><i class="fa fa-save"></i></a>
                    <a href="" ng-hide="field.field_name=='risk_level_sup_type_id'||field.field_name=='report_owner'||field.field_name=='risk_level_type_id'" ng-click="deleteFieldValue()" uib-tooltip="Delete value"><i class="fa fa-close"></i></a>
                    <a href="" ng-click="getFieldSubValues()" uib-tooltip="Show subvalues"
                       ng-if="hasSubValues"><i class="fa fa-eye"></i></a>
                    <a href="" ng-click="downloadCSV(1)" uib-tooltip="Export values to excel"><i class="fa fa-file-excel-o"></i></a>
                    <a href="" ng-click="downloadPDF(1)" uib-tooltip="Export values to pdf"><i class="fa fa-file-pdf-o"></i></a>
                    <!--<a href="" ng-click="clearFilters()"><i class="fa fa-trash-o"></i></a>-->
                </div>

                <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid" 
                     ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit></div>
                <div ng-if='columnChanged'>
                    Column Visibility Changed - name: {{ columnChanged.name}} visible: {{ columnChanged.visible}}
                </div>


            </div>

        </div>
        <div ng-if="hasSubValues">
            <div class="col-md-12 grid-style ">
                <div class="toolbar">
                    <a href="" ng-click="addFieldValue(2)" uib-tooltip="Add value"><i class="fa fa-plus"></i></a>
                    <a href="" ng-click="editFieldValue(2)" uib-tooltip="Edit value"><i class="fa fa-edit"></i></a>
                    <a href="" ng-click="saveFieldSubValue()" uib-tooltip="Save value" ng-class="{'disabled': disableSaveBtn}"><i class="fa fa-save"></i></a>
                    <a href="" ng-click="deleteFieldSubValue()" uib-tooltip="Delete value"><i class="fa fa-close"></i></a>
                    <a href="" ng-click="downloadCSV(2)" uib-tooltip="Export values to excel"><i class="fa fa-file-excel-o"></i></a>
                    <a href="" ng-click="downloadPDF(2)" uib-tooltip="Export values to pdf"><i class="fa fa-file-pdf-o"></i></a>
                    <!--<a href="" ng-click="clearFilters()"><i class="fa fa-trash-o"></i></a>-->
                </div>

                <div id="grid1" ui-grid="gridOptions2" ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid" 
                     ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit></div>
                <div ng-if='columnChanged'>
                    Column Visibility Changed - name: {{ columnChanged.name}} visible: {{ columnChanged.visible}}
                </div>


            </div>

        </div>

    </div>

