<div class="modal-header">
            <h3 class="modal-title">Add equipment to the database</h3>
        </div>
        <div class="modal-body">
           
           
           
           
           
           <div class="form-group col-md-12">
               <label for="">Equipment category:</label>
               <input type="text" class="form-control">
           </div>
           
           
           <div class="form-group col-md-12">
               <label for="">Equipment type:</label>
               <input type="text" class="form-control">
           </div>
           
           
           
           <div class="form-group col-md-12">
               <label for="">Equipment name:</label>
               <input type="text" class="form-control">
           </div>
           
           
           <div class="form-group col-md-12">
               <label for="">Equipment #:</label>
               <input type="text" class="form-control">
           </div>
           
           
             <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Submit</button>
        </div>
     
