<form class="form-inline">
    <div class="form-style">
        <div class="form-group">
            <label for="exampleInputEmail3">Type of hazard ID process:</label>
            <select class="form-control" ng-model="hazardReport.haz_type_id"
                    ng-options="hazardType.haz_type_id as hazardType.haz_type_name for hazardType in hazardTypes"
                    ng-change="getHazardTypeName()" >
                <option value="" selected>Select</option>
            </select>
            <input type="text" class="form-control" id="exampleInputEmail3" ng-model="hazardReport.hazard_other_type" 
                   ng-if="hazard_type_name === 'Other'" placeholder="Enter other ID process">
            <input type="text" class="form-control" id="exampleInputEmail3" ng-model="hazardReport.hazard_record_number" 
                   ng-if="hazard_type_name === 'Formal hazard assessment'" placeholder="Enter record #">
        </div>

        <div class="form-group pull-right">

            <label  for="exampleInputPassword3">Hazard Time:</label>
            <div class="form-group noPadding">
                <label  for="exampleInputPassword3">hours:</label>
                <select class="form-control" ng-model="hazardReport.hazard_time">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
            </div>
            <div class="form-group noPadding">
                <label  for="exampleInputPassword3">min:</label>
                <select class="form-control" ng-model="hazardReport.hazard_min">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>

            </div>

        </div>

        <div class="form-group pull-right dateStyle">
            <label for="exampleInputEmail3">Date:</label>
            <!--<input type="text" class="form-control"  my-datepicker ng-model="hazardReport.hazard_date" placeholder="Select ">-->
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="hazardReport.hazard_date" is-open="datePopUps.report_date" 
                       datepicker-options="dateOptions" close-text="Close" ng-click="datePopUps.report_date = !datePopUps.report_date" 
                       alt-input-formats="altInputFormats" placeholder="Select "/>
                <span class="input-group-btn calenderIcon">
                    <button type="button" class="btn btn-default " ng-click="datePopUps.report_date = !datePopUps.report_date"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

    </div>


    <div class="clearfix"></div>
    <div class="form-style">

        <h2> Who identified the hazard(s):</h2>
        <!--Name-->
        <div class="form-group empName">
            <label  for="exampleInputPassword3">Name:</label>
            <ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                <ui-select-match placeholder="Enter Name">{{$select.selected.full_name}}</ui-select-match>
                <ui-select-choices refresh="getReportedByUser($select.search,'employee_name',0, true)" refresh-delay="0" 
                                   repeat="emp.employee_id as emp in whoIdentifiedEmployees | filter: $select.search ">
                    <div>{{emp.full_name}}</div>
                </ui-select-choices>
            </ui-select>
            <!--<a href="" ng-click="openAdd()" ng-class="{disabled: whoIdentified != null}"><i class="fa fa-plus" aria-hidden="true" uib-tooltip="Name not found - add person/employee to database"></i></a>-->
            <button class="btn btn-primary" ng-click="openAdd()" ng-disabled="initializeReport.whoIdentifiedEmployee || employees.length != 0" uib-tooltip="Name not found - add person/employee to database."><i class="fa fa-plus"></i></button>
        </div>
        <!--ID-->
        <div class="form-group helfWidth">
            <label  for="exampleInputPassword3">ID:</label>
            <!--<ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                <ui-select-match placeholder="ID">{{$select.selected.emp_id}}</ui-select-match>
                <ui-select-choices refresh="getReportedByUser($select.search,'emp_id')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                    <div>{{emp.emp_id}}</div>
                </ui-select-choices>
            </ui-select>-->
            <input type="text" class="form-control" placeholder="Enter ID" ng-model="whoIdentified.emp_id" ng-change="whoIdentifiedChanged(whoIdentified.emp_id, 'emp_id')"/>

        </div>

        <!--Position-->
        <div class="form-group">
            <label  for="exampleInputPassword3">Position:</label>
            <!--<ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                <ui-select-match placeholder="Position">{{$select.selected.position}}</ui-select-match>
                <ui-select-choices refresh="getReportedByUser($select.search,'position')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                    <div>{{emp.position}}</div>
                </ui-select-choices>
            </ui-select>-->
            <input type="text" class="form-control" placeholder="Enter Position" ng-model="whoIdentified.position" ng-change="whoIdentifiedChanged(whoIdentified.position, 'position')"/>

        </div>

        <div class="form-group">
            <label  for="exampleInputPassword3">Crew:</label>
            <!-- <ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                 <ui-select-match placeholder="Crew">{{$select.selected.crew_name}}</ui-select-match>
                 <ui-select-choices refresh="getReportedByUser($select.search,'crew_name')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                     <div>{{emp.crew_name}}</div>
                 </ui-select-choices>
             </ui-select>-->
            <input type="text" class="form-control" placeholder="Enter Crew" ng-model="whoIdentified.crew_name" ng-change="whoIdentifiedChanged(whoIdentified.crew_name, 'crew_name')"/>
        </div>

        <!--Email-->
        <div class="form-group">
            <label  for="exampleInputPassword3">Email:</label>
            <!-- <ui-select class="form-control" id="exampleInputPassword3"  ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                 <ui-select-match placeholder="Email">{{$select.selected.email}}</ui-select-match>
                 <ui-select-choices refresh="getReportedByUser($select.search,'email')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                     <div>{{emp.email}}</div>
                 </ui-select-choices>
             </ui-select>-->
            <span style="color:red;">{{whoIdentified.whoIdentifiedEmailError}}</span>
            <input type="text" class="form-control" placeholder="Enter Email" ng-model="whoIdentified.email" ng-change="whoIdentifiedChanged(whoIdentified.email, 'email')" ng-blur="checkEmail(whoIdentified, whoIdentified.email)"/>

        </div>

        <!--Company-->
        <div class="form-group">
            <label  for="exampleInputPassword3">Company:</label>
            <!-- <ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                 <ui-select-match placeholder="Company">{{$select.selected.org_name}}</ui-select-match>
                 <ui-select-choices refresh="getReportedByUser($select.search,'org_name')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                     <div>{{emp.org_name}}</div>
                 </ui-select-choices>
             </ui-select>-->

            <input type="text" class="form-control" placeholder="Enter Company" ng-model="whoIdentified.org_name" ng-change="whoIdentifiedChanged(whoIdentified.org_name, 'org_name')"/>

        </div>

        <!--Primary Phone-->
        <div class="form-group helfWidth">
            <label  for="exampleInputPassword3">Primary phone:</label>

            <!-- <ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                 <ui-select-match placeholder="Enter Phone">{{$select.selected.primary_phone}}</ui-select-match>
                 <ui-select-choices refresh="getReportedByUser($select.search,'primary_phone')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                     <div>{{emp.primary_phone}}</div>
                 </ui-select-choices>
             </ui-select>-->

            <input type="text" class="form-control" ng-model="whoIdentified.primary_phone" ng-change="whoIdentifiedChanged(whoIdentified.primary_phone, 'primary_phone')" ui-mask="(999)-999-9999"/>

        </div>
        <!--Alternate Phone-->
        <div class="form-group helfWidth">
            <label  for="exampleInputPassword3">Alternate phone:</label>
            <!--<ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                <ui-select-match placeholder="Enter Phone">{{$select.selected.alternate_phone}}</ui-select-match>
                <ui-select-choices refresh="getReportedByUser($select.search,'alternate_phone')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                    <div>{{emp.alternate_phone}}</div>
                </ui-select-choices>
            </ui-select>-->

            <input type="text" class="form-control" ng-model="whoIdentified.alternate_phone" ng-change="whoIdentifiedChanged(whoIdentified.alternate_phone, 'alternate_phone')" ui-mask="(999)-999-9999"/>
        </div>
        <!--Supervisor-->
        <div class="form-group">
            <label  for="exampleInputPassword3">Supervisor:</label>
            <!--<ui-select class="form-control" id="exampleInputPassword3" ng-model="whoIdentified.employee_id" theme="bootstrap" on-select="onSelectWhoIdentifiedHazard($item)">
                <ui-select-match placeholder="Supervisor">{{$select.selected.supervisor_name}}</ui-select-match>
                <ui-select-choices refresh="getReportedByUser($select.search,'supervisor_name')" refresh-delay="0" repeat="emp.employee_id as emp in employees | filter: $select.search ">
                    <div>{{emp.supervisor_name}}</div>
                </ui-select-choices>
            </ui-select>-->
            <input type="text" class="form-control" placeholder="Supervisor name" ng-model="whoIdentified.supervisor_name" ng-change="whoIdentifiedChanged(whoIdentified.supervisor_name, 'supervisor_name')"/>
        </div>

    </div>

    <div class="clearfix"></div>
    <div class="form-style location">
        <h2>Location of hazard(s):</h2>
        <div class="form-group">
            <label for="exampleInputPassword3">Country:</label>
            <ui-select ng-model="hazardReport.location1_id" theme="bootstrap">
                <ui-select-match placeholder="Enter Country">{{$select.selected.location1_name}}</ui-select-match>
                <ui-select-choices refresh="getLocations1($select.search)" refresh-delay="0" 
                                   repeat="location.location1_id as location in locations1 | filter: $select.search ">
                    <div>{{location.location1_name}}</div>
                </ui-select-choices>
            </ui-select>
            <button class="btn btn-primary" ng-click="openLoc()" ng-disabled="initializeReport.location1 || locations1.length != 0" uib-tooltip="Location not found - add location to database."><i class="fa fa-plus"></i></button>
            <!--<a href="" ng-click="openLoc()" ng-class="{disabled: hazardReport.location1_id != null}"><i class="fa fa-plus" aria-hidden="true" uib-tooltip="Location not found - add location to database."></i></a>-->

        </div>


        <div class="form-group">
            <label for="exampleInputPassword3">Province/State:</label>

            <ui-select ng-model="hazardReport.location2_id" theme="bootstrap" on-select='onSelectLocation2()'>

                <ui-select-match placeholder="Enter Province/State">{{$select.selected.location2_name}}</ui-select-match>

                <ui-select-choices refresh="getLocations2($select.search)" refresh-delay="0" 
                                   repeat="location.location2_id as location in locations2 | filter: $select.search ">

                    <div>{{location.location2_name}}</div>

                </ui-select-choices>

            </ui-select>
            <button class="btn btn-primary" ng-click="openLoc()" ng-disabled="initializeReport.location2 || locations2.length != 0" uib-tooltip="Location not found - add location to database."><i class="fa fa-plus"></i></button>
            <!--<a href="" ng-click="openLoc()" ng-class="{disabled: hazardReport.location2_id != null}"><i class="fa fa-plus" aria-hidden="true" uib-tooltip="Location not found - add location to database."></i></a>-->

        </div>


        <div class="form-group">
            <label for="exampleInputPassword3">Area:</label>

            <ui-select ng-model="hazardReport.location3_id" theme="bootstrap" on-select='onSelectLocation3()'>

                <ui-select-match placeholder="Enter Area">{{$select.selected.location3_name}}</ui-select-match>

                <ui-select-choices refresh="getLocations3($select.search)" refresh-delay="0" 
                                   repeat="location.location3_id as location in locations3 | filter: $select.search ">

                    <div>{{location.location3_name}}</div>

                </ui-select-choices>

            </ui-select>
            <!--<input type="text" class="form-control" placeholder="Area" />-->

            <button class="btn btn-primary" ng-click="openLoc()" ng-disabled="initializeReport.location3 || locations3.length != 0" uib-tooltip="Location not found - add location to database."><i class="fa fa-plus"></i></button>
            <!--<a href="" ng-click="openLoc()" ng-class="{disabled: hazardReport.location3_id != null}"><i class="fa fa-plus" aria-hidden="true" uib-tooltip="Location not found - add location to database."></i></a>-->

        </div>

        <div class="form-group">
            <label for="exampleInputPassword3">Site:</label>


            <ui-select ng-model="hazardReport.location4_id" theme="bootstrap" on-select='onSelectLocation4()'>

                <ui-select-match placeholder="Enter Site">{{$select.selected.location4_name}}</ui-select-match>

                <ui-select-choices refresh="getLocations4($select.search)" refresh-delay="0" 
                                   repeat="location.location4_id as location in locations4 | filter: $select.search ">

                    <div>{{location.location4_name}}</div>

                </ui-select-choices>

            </ui-select>
            <!--<input type="text" class="form-control" placeholder="Site" />-->
            <button class="btn btn-primary" ng-click="openLoc()" ng-disabled="initializeReport.location4 || locations4.length != 0" uib-tooltip="Location not found - add location to database."><i class="fa fa-plus"></i></button>
            <!--<a href="" ng-click="openLoc()" ng-class="{disabled: hazardReport.location4_id != null}"><i class="fa fa-plus" aria-hidden="true" uib-tooltip="Location not found - add location to database."></i></a>-->
        </div>

        <div class="form-group otherLocation">
            <label  for="exampleInputPassword3">Other location details:</label>

            <input type="text" class="form-control" placeholder="Enter details" ng-model="hazardReport.hazard_other_location"/>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="form-style">

        <div class="form-group Crewinvolved">
            <label  for="exampleInputPassword3">Crew involved:</label>

            <select class="form-control" ng-model="hazardReport.crew_id"
                    ng-options="crew.crew_id as crew.crew_name for crew in crews">
                <option value="" selected>Select</option>
            </select>

        </div>

        <div class="form-group">
            <label  for="exampleInputPassword3">Operation type:</label>
            <select class="form-control" ng-model="hazardReport.operation_type_id"
                    ng-options="operationType.operation_type_id as operationType.operation_type_name for operationType in operationTypes">
                <option value="" selected>Select</option>
            </select>
        </div>

    </div>

    <div class="clearfix"></div> 


    <div class="form-style">
        <h2>Third-parties involved:</h2>
        <div id="contractorParent"  ng-repeat="contractor in contractors_involved track by $index" ng-init="contractorIndex = $index">
            <div class="cloneContractor">

                <div class="form-group" >
                    <label  for="exampleInputPassword3">Contractor:</label>
                    <ui-select class="form-control" id="exampleInputPassword3" ng-model="contractor" theme="bootstrap" on-select="onContractorThirdPartySelected($item,$index)">
                        <ui-select-match placeholder="Enter Name">{{$select.selected.third_party_name}}</ui-select-match>
                        <ui-select-choices refresh="getThirdpartiesInvolved($select.search,'Contractor', contractorIndex)" refresh-delay="0" 
                                           repeat="tp.third_party_id as tp in contractor_thirdparties[contractorIndex] | filter: $select.search">
                            <div>{{tp.third_party_name}}</div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary" ng-click="opencontractor()" ng-disabled="initializeReport.thirdPartyContract || contractor_thirdparties[contractorIndex].length != 0" uib-tooltip="Contractor not found - add to database."><i class="fa fa-plus"></i></button>
                </div>

                <div class="form-group helfWidth">
                    <label for="exampleInputPassword3">Contractor's job #:</label>
                    <input type="text" class="form-control" placeholder="Contractor's Job #" ng-model="contractor.jop_number"/>

                </div>

                <div class="form-group">
                    <label  for="exampleInputPassword3">Contractor's representative:</label>
                    <input type="text" class="form-control" placeholder="Enter Name" ng-model="contractor.contact_name" ng-change="contractorThirdPartyNameChanged(contractorIndex)"/>
                </div>

                <button class="btn btn-danger" ng-click="removeContractor($index, contractor)" ng-hide="contractorIndex == 0">Remove</button>

            </div>
        </div>

        <button class="btn btn-primary btnmTop" ng-click="newContract()">More</button>
        <div class="clearfix"></div>
        <div id="ParentCustomer" ng-repeat="customer in customer_involved track by $index" ng-init="customerIndex = $index">

            <div class="clonecustomer">
                <div class="form-group">
                    <label for="exampleInputPassword3">Customer:</label>
                    <ui-select class="form-control" id="exampleInputPassword3" ng-model="customer" theme="bootstrap" on-select="onCustomerThirdPartySelected($item,customerIndex)">
                        <ui-select-match placeholder="Enter Name">{{$select.selected.third_party_name}}</ui-select-match>
                        <ui-select-choices refresh="getThirdpartiesInvolved($select.search,'Customer', customerIndex)" refresh-delay="0" 
                                           repeat="tp.third_party_id as tp in customer_thirdparties[customerIndex] | filter: $select.search ">
                            <div>{{tp.third_party_name}}</div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary" ng-click="opencustomer()" ng-disabled="initializeReport.thirdPartyCustomer || customer_thirdparties[customerIndex].length != 0" uib-tooltip="Customer not found - add to database."><i class="fa fa-plus"></i></button>
                </div>
                <div class="form-group helfWidth">
                    <label  for="exampleInputPassword3">Customer's job's:</label>

                    <input type="text" class="form-control" placeholder="Customer's job's" ng-model="customer.jop_number"/>

                </div>

                <div class="form-group">
                    <label  for="exampleInputPassword3">Customer's representative:</label>
                    <input type="text" class="form-control" placeholder="Enter Name" ng-model="customer.contact_name" ng-change="customerThirdPartyNameChanged(customerIndex)"/>
                </div>
                <button class="btn btn-danger" ng-click="removeCustomer($index, customer)" ng-hide="customerIndex == 0">Remove</button>
            </div>

        </div>
        <button class="btn btn-primary btnmTop" ng-click="newCustomer(customerIndex)">More</button>
    </div>

    <div class="clearfix"></div> 
    <div class="form-style">
        <h2>Equipment involved:</h2>
        <div id="equipmentConainer">
            <div id="ParentCustomer"  ng-repeat="equipment in hazardReport.equipment_involved track by $index" ng-init="equipmentIndex = $index">
                <div class="form-group">
                    <label for="exampleInputPassword3">Equipment name:</label>
                    <ui-select class="form-control" ng-model="equipment" theme="bootstrap" on-select="onEquipmentSelected($item,equipmentIndex)">
                        <ui-select-match placeholder="Equipment name">{{$select.selected.equipment_name}}</ui-select-match>
                        <ui-select-choices refresh="getEquipments($select.search, equipmentIndex)" refresh-delay="0" 
                                           repeat="e.equipment_id as e in equipments[equipmentIndex] | filter: $select.search">
                            <div>{{e.equipment_name}}</div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary btnStyle" ng-click="openEquipment()" ng-disabled="initializeReport.equipment || equipments[equipmentIndex].length != 0" uib-tooltip="Equipment not found - add to database."><i class="fa fa-plus"></i></button>
                    <!--<a href="" class="btn btn-primary btnStyle" ng-click="openEquipment(equipmentIndex)" ng-class="{disabled: equipment != null}"><i class="fa fa-plus" uib-tooltip="Equipment not found - add to database."></i></a>-->
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword3">Equipment type:</label>
                    <input type="text" class="form-control" placeholder="Equipment type" ng-model="equipment.equipment_type"/>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword3">Equipment category:</label>
                    <input type="text" class="form-control" placeholder="Equipment category" ng-model="equipment.equipment_category_name" />
                </div>

                <div class="form-group newWidth">
                    <label for="exampleInputPassword3" >Equipment #:</label>
                    <input type="text" class="form-control newInputWidth " placeholder="Equipment #" ng-model="equipment.equipment_number" />
                </div>
                <button class="btn btn-primary btnmTop" ng-click="removeEquipment(equipment, $index)" ng-hide="equipmentIndex == 0">Remove</button>
            </div>

        </div>
        <button class="btn btnmTop" ng-click="newEquipment()">More</button>
    </div>

    <div class="clearfix"></div>
    <div class="form-style">


        <div class="form-group block">
            <label for="exampleInputPassword3">Description of 
                hazard(s) found:</label>

            <textarea  class="form-control" placeholder="Describe hazard" ng-model="hazardReport.hazard_desc"></textarea>
        </div>


    </div>


    <div class="clearfix"></div>

    <div class="form-style">


        <div class="form-group block">
            <label for="exampleInputPassword3">Suspected cause(s)
                of hazard(s): </label>
            <textarea  class="form-control" placeholder="Describe Suspected cause(s)" ng-model="hazardReport.hazard_suspected_cause"></textarea>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="form-group block">
        <label for="exampleInputPassword3">Initial actions taken to eliminate or mitigate the hazard(s):  </label>

        <textarea  class="form-control" placeholder="Describe Initial actions" ng-model="hazardReport.initial_action_token"></textarea>
    </div>
    <div class="form-group radio block">
        <label for="exampleInputEmail3">Status of reported hazard(s):</label>
        <div class="form-group" ng-repeat="hs in hazardStatuses">
            <input type="radio" value="{{hs.status_id}}" class="form-control" name="status" ng-model="hazardReport.hazardStatus"> 
            {{hs.status_Name}} 
        </div>
        <a href="" class="pull-left" ng-click="clearReportStatus()"><i class="fa fa-close"></i></a>
    </div>
    <div class="clearfix"></div>
    <div class="form-group radio block">
        <label for="exampleInputEmail3">Are additional corrective actions required?</label>
        <div class="form-group">
            <input type="radio" class="form-control" name="corrective" ng-model="hazardReport.are_additional_corrective_actions_required" value="Yes"> Yes 
        </div>
        <div class="form-group ">
            <input type="radio" class="form-control" name="corrective" ng-model="hazardReport.are_additional_corrective_actions_required" value="No">  No

        </div>

        <a href="" class="pull-left" ng-click="clearCorrective()"><i class="fa fa-close"></i></a>
    </div>

    <div class="clearfix"></div>


    <div class="form-group block">
        <label for="exampleInputPassword3">Summary of 
            recommended 
            corrective actions: </label>

        <textarea  class="form-control" placeholder="Summarize recommended actions" ng-model="hazardReport.recommended_corrective_actions_summary"></textarea>
    </div>

    <div class="clearfix"></div>
    <div class="form-style">
        <div class="form-group block checkbox">
            <label for="">Potential impacts of hazard(s):</label>

            <div class="form-group" ng-repeat="impactType in hazardReport.impactTypes" >
                <input type="checkbox" class="form-control" name="Certifications" ng-model="impactType.impact_choice"> 
                {{impactType.impact_type_name}} 
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group block">
            <label for="exampleInputPassword3">Description of 
                potential impacts:  </label>

            <textarea  class="form-control" placeholder="Describe potential impacts " ng-model="hazardReport.potential_impacts_desc"></textarea>
        </div>
    </div> 

    <div class="clearfix"></div> 
    <div class="form-style riskLevel">
        <h2>
            <span>Risk level:</span>  <div class="progress prog">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{riskLevelTotal}}" aria-valuemin="3" aria-valuemax="9" 
                     style="width:{{(riskLevelTotal * 100 / 9)}}%" ng-class="{'progressBarRed': riskLevelTotal >= 7, 'progressBarYellow': (riskLevelTotal >= 4 && riskLevelTotal < 7), 'progressBarGreen': riskLevelTotal < 4}">
                    {{riskLevelTotal}} / 9
                </div>
                <span class="selectParam">Select Parameters to calculate</span>
            </div></h2>

        <div class="form-group block">

            <label for="exampleInputPassword3">Probability of hazard(s): </label>

            <span  class="pull-left" ng-repeat="riskLevel in riskLevels.hazard_exist">
                <input type="radio" ng-model="hazardReport.riskLevels.hazard_exist" value="{{riskLevel.risk_level_value}}"
                       ng-change="calculateRiskLevel()">
                {{riskLevel.risk_level_degree}}


            </span> 

               <a href="" class="pull-left" ng-click="clear1()"><i class="fa fa-close"></i></a>

            <!--            <input type="radio"> <span>Medium</span>
                        <input type="radio"> <span>Low</span>-->
        </div>

        <div class="form-group block">
            <label for="exampleInputPassword3">Frequency of worker exposure to the hazard(s): </label>

            <span  class="pull-left" ng-repeat="riskLevel in riskLevels.worker_exposure">
                <input type="radio" ng-model="hazardReport.riskLevels.worker_exposure" value="{{riskLevel.risk_level_value}}"
                       ng-change="calculateRiskLevel()">
                <span>{{riskLevel.risk_level_degree}}</span>

            </span>

            
            <a href="" class="pull-left" ng-click="clear2()"><i class="fa fa-close"></i></a>
                       

            <!--            <input type="radio"><span>High</span>
                        <input type="radio"> <span>Medium</span>
                        <input type="radio"> <span>Low</span>-->
        </div>


        <div class="form-group block">
            <label for="exampleInputPassword3">Severity of potential consequences: </label>

            <span class="pull-left"  ng-repeat="riskLevel in riskLevels.potential_consequences">
                <input type="radio" ng-model="hazardReport.riskLevels.potential_consequences" value="{{riskLevel.risk_level_value}}"
                       ng-change="calculateRiskLevel()">
                <span>{{riskLevel.risk_level_degree}}</span>
            </span>

            
                 <a href="" class="pull-left" ng-click="clear3()"><i class="fa fa-close"></i></a>

            <!--            <input type="radio"><span>High</span>
                        <input type="radio"> <span>Medium</span>
                        <input type="radio"> <span>Low</span>-->
        </div>

        <div class="form-group block">
            <label for="exampleInputPassword3">Should work in the area be stopped immediately to protect workers? </label>
            <span class="pull-left" >
                <input type="radio" class="form-control" name="Certifications" ng-model="hazardReport.should_work_stopped" value="Yes"> Yes 
            </span>
            <span class="pull-left">
                <input type="radio" class="form-control" name="Certifications" ng-model="hazardReport.should_work_stopped" value="No">  No
            </span>

             <a href="" class="pull-left" ng-click="clear4()"><i class="fa fa-close"></i></a>

        </div>


    </div>



    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="ristList">
        <uib-accordion close-others="oneAtATime">

            <div uib-accordion-group class="panel-default" heading="Risk controls required" is-open="status.risk">
                <div class="form-style ristItems">

                    <div class="clearfix"></div>

                    <div class="form-group block" ng-repeat="riskControl in hazardReport.riskControls">
                        <input type="checkbox" class="form-control" name="Certifications" ng-model="riskControl.risk_control_choice"> 
                        {{riskControl.risk_control_name}} 
                    </div>
                    <!--                    <div class="form-group block">
                    
                                            <input type="checkbox"><span>Formal risk assessment required before controls can be selected</span>      
                                        </div>
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Eliminate the hazard through design or redesign of workplace or task</span>      
                                        </div>
                    
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Substitute materials, process or equipment</span>      
                                        </div>
                    
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Engineering control</span>      
                                        </div>
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Increase awareness of hazard</span>      
                                        </div>
                    
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Reorganize work process (e.g., scheduling)</span>      
                                        </div>
                    
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Training</span>      
                                        </div>
                    
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Work procedures</span>      
                                        </div>
                    
                                        <div class="clearfix"></div>
                    
                                        <div class="form-group block">
                    
                                            <input type="checkbox"><span>Personal protective equipment</span>      
                                        </div>-->

                </div>


            </div>
        </uib-accordion>
    </div>


</form>