<h2>Add company procedure <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h2>
<form action=""  class="form-inline addPeople formStylePadding">
    <div class="form-style">
 
        <div class="form-group">
            <label for="exampleInputPassword3">Procedure name:</label>
            <input type="text" class="form-control">
        </div>
        
        
        <div class="form-group">
            <label for="exampleInputPassword3">Status:</label>
            <select type="text" class="form-control">
                <option value="">Active</option>
                <option value="">Inactive</option>
            </select>
        </div>
        
        
        
        
        <div class="form-group">
            <label for="exampleInputPassword3">Upload file:</label>
            <input type="file" class="form-control"> 
        </div>
        
        
         
        <div class="form-group block">
            <label for="exampleInputPassword3">Description:</label>
            <textarea  class="form-control"></textarea> 
        </div>
        
         <div class="clearfix"></div>
         
         
        <div class="clearfix"></div>
         <button class="btn btn-primary pull-right">Submit</button>
         <button class="btn btn-primary pull-right">Cancel</button>
        
        

 </div>
    
    
    
    
    
    
</form>