<div class="modal-header mBottom">
    <h3 class="modal-title">Add company user <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h3>
</div>

<div class="generalStyle AddAdminStyle">
    <form  name="addAdmin">      
        <div class="form-group col-md-6">
            <label>System admin:</label>
            <select class="form-control"  required  ng-options="a.employee_id as a.FullName for a in orgemployees"
                    ng-model="selectedAdmin.employee_id">              
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Access code:</label>
            <input class="form-control"  style="width:51% !important" type="text" ng-model="selectedAdmin.direct_access_code">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-6">
            <label >Status:</label>           
            <select class="form-control"       ng-disabled="true"    ng-model="selectedAdmin.is_active"
                    ng-options="a.item_id as a.item_value for a in statuslist"  >                
            </select>         
        </div>
        <div class="form-group col-md-6">
            <label >User group:</label>           
            <select class="form-control"     ng-disabled="true"   required   ng-model="selectedAdmin.group_id"
                    ng-options="a.group_id as a.group_name for a in grouplist" >                
            </select>         
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12" style="margin-top:10px">
            <button class="btn btn-primary pull-right" ng-click="addCompanyUser()" ng-disabled="addAdmin.$invalid" >                
                <span>Submit</span>
            </button>

            <a href="" class="btn btn-primary pull-right" ng-click="cancel()" style="margin-left: 20px">
                <span>Cancel</span>
            </a>

        </div>
    </form>
</div>