        <div class="row" ng-controller="DemoController">
                    <h1>angular-form-builder</h1>
                    <hr/>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Builder</h3>
                            </div>
                            <div fb-builder="default"></div>
                            <div class="panel-footer">
                            <button ng-click='formsubmit()'>formsubmit </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div fb-components></div>
                    </div>
                </div>
        <div class="row" ng-controller="testController">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Builder2</h3>
                            </div>
                            <div fb-builder="default2"></div>
                            <div class="panel-footer">
                                <button ng-click='formsubmit2()'>formsubmit2 </button>
                            </div>
                            
                        </div>
                    </div>
                </div>