<form action="" name="reportForm" class="form-inline addPeople addTraining">
   
   <h2>Edit new training type</h2>
    

        <div class="form-group">
            <label>Training type:</label>
            <input class="form-control" required="required" type="text" >
        </div>

       
       <div class="form-group">
            <label>Training duration:</label>
            <input class="form-control" required="required" type="text" >
        </div>
        
        
         <div class="form-group">
            <label>Evidence of completion:</label>
              <input class="form-control">
        </div>
        
        <div class="form-group">
            <label>Recertification frequency:</label>
              <input class="form-control">
        </div>
        
     
   


            
        <div class="clearfix"></div>
        <button class="btn btn-primary pull-right">Submit</button>
        
        <button class="btn btn-primary pull-right">Cancel</button>
    </div>


</form>