<div class="modal-header">
    <h3 class="modal-title">Edit file</h3>
</div>
<div class="modal-body file">

    <div class="form-group col-md-12">
        <label for="">Tab name:</label>
        <select type="text" class="form-control" ng-model="">
            <option value="">Orientations</option>
            <option value="">Show-me-how videos</option>
        </select>
    </div>



    <div class="form-group col-md-12">
        <label for="">Procedure name:</label>
        
        <input type="text" class="form-control" ng-model="">
    </div>
    
     <div class="form-group col-md-12">
        <label for=""> Order:</label>        
        <input type="text" class="form-control" ng-model="">
    </div>
    <div class="form-group col-md-12">
        <label for=""> File path:</label>        
        <input type="text" class="form-control" ng-model="">
    </div>
    <div class="form-group col-md-12">
        <label for=""> Description:</label>        
        <textarea type="text" class="form-control" ng-model="">
        </textarea>
    </div>


<div class="clearfix"></div>
   
    <button class="btn btn-primary pull-right" type="button" >Submit</button>
    
   <button class="btn btn-primary pull-right" type="button" >Cancel</button>
</div>