
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="What happened?">
                <div ng-include="'app/modules/inspectionReportModule/views/whatHappend.html'"></div>
            </uib-tab>

            <uib-tab index="1" heading="Hazard details">
                <div ng-include="'app/modules/coreReportModule/views/hazardDetails.html'"></div>
            </uib-tab>   

            <uib-tab index="2" heading="People involved">

                <div ng-include="'app/modules/coreReportModule/views/peopleInvolved.html'"></div>
            </uib-tab>

            <uib-tab index="4" heading="Corrective actions">

                <div ng-include="'app/modules/coreReportModule/views/remedialActions.html'"></div>
            </uib-tab>

            <uib-tab index="5" heading="Supporting documents">

                <div ng-include="'app/modules/coreReportModule/views/supportingDocuments.html'"></div>
            </uib-tab>
            
            <uib-tab index="6" heading="Inspection details ({{report_type_name}})" ng-if="report.report_type_id">

            <div ng-include=""></div>

        </uib-tab>


        </uib-tabset>
