<div class="toolbar">
    <a href="#" ng-click="FilePopUp()"><i class="fa fa-plus"></i></a>
    <a href="#" ng-click="editFilePopUp()"><i class="fa fa-edit"></i></a>
    <a href="#"><i class="fa fa-close"></i></a>
</div>
   

<table class="table table-bordered table-responsive ng-scope">
    <thead>

        <tr>
           <th>Procedure name</th>
            <th>Tab name</th>
            <th>Tab type</th>
            <th>Order</th>
            <th>Updated by</th>
            <th>Updated date</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
       
        
        <tr>

            <td>How to set up, activate and reassign users	</td>
                <td>Show-me-how videos</td>
                <td>Video</td>
                 <td>1</td>
                 <td>John Adams</td>
                 <td>02-07-2016</td>
                
        </tr>
        
        
        <tr>
               <td>ABCan-Track Orientation for Basic </td>
                <td>Show-me-how videos</td>
                <td>Video</td>
                 <td>1</td>
                 <td>John Adams</td>
                 <td>02-07-2016</td>
                 
        </tr>
        <tr>
                 <td>ABCan-Track Orientation for Basic </td>
                 <td>Show-me-how videos</td>
                 <td>Video</td>
                 <td>1</td>
                 <td>John Adams</td>
                 <td>02-07-2016</td>
                 
        </tr>

    </tbody>
</table>



