<h2>Manage HSE program: <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h2> 

 <div class="clearfix"></div>
 
 
 <div class="toolbar">
    <a href="" ng-click=""  uib-tooltip="Add record"><i class="fa fa-plus"></i></a>
    <a href="" ng-click=""  uib-tooltip="Edit record"><i class="fa fa-edit"></i></a>
</div>

<div>
<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid" ui-grid-pagination="" ui-grid-auto-resize ui-grid-resize-columns  ></div>
</div>

