<h2>Manage messages and notes <img ng-controller="navController"   class="thumb pull-right img-{{currentOrg.org_id}}" src="{{currentOrg.logourl}}" 
                           alt="{{currentOrg.org_name}}" title="{{currentOrg.org_name}}" ></h2>
<div class="clearfix"></div>
<div class="alert alert-warning">
    <p>
        NOTE: All changes made here will only be seen by users who log in after these changes are made. If users can't see the changes, tell them to log out and then log back in.
    </p>
</div>


<table class="table table-bordered table-responsive">
    <thead>

        <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Description</th>
            <th>Allow translate</th>
            <th> Actions</th>
        </tr>

    </thead>
    <tbody>


        <tr>
            <td>Editing alert messages</td>
            <td>Alert messages appear throughout the application</td>
            <td>Alert messages help description</td>
            <td>Yes</td>

            <td><a href=""><i class="fa fa-edit"></i></a>
        </tr>


        <tr>

            <td>Help for customer grid</td>
            <td>Set up and manage customers using the tools</td>
            <td>Customer help description</td>
            <td>Yes</td>

            <td><a href=""><i class="fa fa-edit"></i></a>
        </tr>

    </tbody>
</table>

