<form class="form-inline">
    <div class="form-style">
       
       
        <div class="form-group">
            <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/reportType.html'"></div>
        </div>

        <div class="form-group pull-right">
            <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/reportTime.html'"></div>
        </div>

        <div class="form-group pull-right dateStyle">
            <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/reportDate.html'"></div>
        </div>
        <div class="form-group ">
            <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/reportOwner.html'"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="form-style">
        <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/whoIdentified.html'"></div>
    </div>

    <div class="clearfix"></div>
    <div class="form-style location">
        <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/location.html'"></div>
    </div>

    <div class="clearfix"></div>

    <div class="form-style">
        <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/crewOperationType.html'"></div>
    </div>

    <div class="clearfix"></div> 

    <div class="form-style">
        <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/thirdParties.html'"></div>
    </div>

    <div class="clearfix"></div>
    <div class="form-style">
        <div ng-include="'app/modules/coreReportModule/views/whatHappendParts/reportDescription.html'"></div>
    </div>


</form>