
        <table class="table table-bordered table-responsive ng-scope">
            <thead>

                <tr>
                    <th>Sent to Person</th>
                    <th>Subject</th>
                    <th>Is sent</th>
                    <th>Sent Date</th>
                </tr>

            </thead>
            <tbody>
              
            <tr>
                   <td>Rasha Atta</td>
                    <td></td>
                   <td>Yes</td>
                   <td>2017-01-23 18:45:26</td>
               </tr>
               
                <tr>
                   <td>Rasha Atta</td>
                    <td>ABCan-Track User Account Activated</td>
                   <td>Yes</td>
                   <td>2015-04-06 13:00:29</td>
               </tr>
               	
             
            </tbody>
        </table>

