
<div class="row customizationComponentsFields" ng-controller="whatMaintenanceController">
    <div class="col-md-12">
        <h2>Custom fields</h2>
        <hr/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Builder</h3>
            </div>
            <div fb-builder="what_maintenance"></div>
        </div>
    </div>

</div>

<!--                <div class="row customizationFields" ng-controller="whatMaintenanceController">
                    <div class="col-md-12">
                       <h2>what Happened Custom Fields</h2>
                 <hr/>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Builder</h3>
                            </div>
                            <div fb-builder="default"></div>
                            <div class="panel-footer">
                            <button ng-click='formsubmit()'>formsubmit </button>
                            </div>
                        </div>
                    </div>

                    <div class="customCompnent">
                        <div fb-components></div>
                    </div>
                </div>
-->
